<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a routerLink="/" class="brand-link">
    <img src="./../favicon.ico" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
    <span class="brand-text font-weight-light">Aulas Angular</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Grupo de link 1
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li *ngFor="let link of links" class="nav-item">
              <a [routerLink]="link.rota" class="nav-link">
                <i [class]="link.cor"></i>
                <p class="text"><span [class]="link.hexa">{{link.textContent}}</span></p>
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
